In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('processedTitanicTrain.csv')

In [5]:
data

,Survived,Age,Fare,Sex_male,Embarked_Q,Embarked_S,Pclass_2,Pclass_3,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,SibSp_8
0,0,22.0,7.2500,1,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0
1,1,38.0,71.2833,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,1,26.0,7.9250,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,1,35.0,53.1000,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,0,35.0,8.0500,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,27.0,13.0000,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
887,1,19.0,30.0000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
888,0,25.0,23.4500,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0
889,1,26.0,30.0000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
890,0,32.0,7.7500,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
data.columns

Index(['Survived', 'Age', 'Fare', 'Sex_male', 'Embarked_Q', 'Embarked_S',
       'Pclass_2', 'Pclass_3', 'Parch_1', 'Parch_2', 'Parch_3', 'Parch_4',
       'Parch_5', 'Parch_6', 'SibSp_1', 'SibSp_2', 'SibSp_3', 'SibSp_4',
       'SibSp_5', 'SibSp_8'],
      dtype='object')

In [7]:
X = data[['Age', 'Fare', 'Sex_male', 'Embarked_Q', 'Embarked_S',
       'Pclass_2', 'Pclass_3', 'Parch_1', 'Parch_2', 'Parch_3', 'Parch_4',
       'Parch_5', 'Parch_6', 'SibSp_1', 'SibSp_2', 'SibSp_3', 'SibSp_4',
       'SibSp_5', 'SibSp_8']]

In [8]:
y = data['Survived']

In [9]:
X

,Age,Fare,Sex_male,Embarked_Q,Embarked_S,Pclass_2,Pclass_3,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,SibSp_8
0,22.0,7.2500,1,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0
1,38.0,71.2833,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,26.0,7.9250,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,35.0,53.1000,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,35.0,8.0500,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,27.0,13.0000,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
887,19.0,30.0000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
888,25.0,23.4500,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0
889,26.0,30.0000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
890,32.0,7.7500,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
model = LogisticRegression()

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [22]:
model.fit(X_train,y_train)

/home/surinder/anaconda3/envs/tensorflow_gpu/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [23]:
model.coef_

array([[-0.02824276,  0.0034154 , -2.43308494, -0.14229343, -0.64424823,
        -0.29495522, -1.605612  ,  0.45676116, -0.29791902,  0.44225116,
        -0.7144459 , -0.55984156, -0.28665643,  0.06147698, -0.17348744,
        -1.00884628, -0.3680466 , -0.51206853, -0.92257999]])

In [25]:
pred = model.predict(X_test)

In [26]:
pred

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0])

In [29]:
y_test

709    1
439    0
840    0
720    1
39     1
      ..
821    1
633    0
456    0
500    0
430    1
Name: Survived, Length: 268, dtype: int64

In [28]:
model.score(X_test,y_test)

0.8097014925373134

In [30]:
from sklearn.metrics import confusion_matrix

In [32]:
confusion_matrix(y_test , pred)

array([[139,  18],
       [ 33,  78]])

In [33]:
total = 139+18+33+78

In [34]:
true = 139+78

In [35]:
accuracy = true/total * 100

In [36]:
accuracy

80.97014925373134

In [37]:
from sklearn.metrics import classification_report

In [39]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.81      0.89      0.84       157
           1       0.81      0.70      0.75       111

    accuracy                           0.81       268
   macro avg       0.81      0.79      0.80       268
weighted avg       0.81      0.81      0.81       268